body {
	min-width: 960px;
}

.container_3 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	font-family: Arial, Verdana, sans-serif;
}


.grid_1,
.grid_2,
.grid_3 {
	display:inline;
	float: left;
	position: relative;
	margin: 10px;
	background:red;
}


.container_3 .grid_1 {
	width:300px;
	text-align:justify;
}

.container_3 .grid_2 {
	width:620px;
}

.container_3 .grid_3 {
	width:940px;
	text-align:center;
}

.container_3 .grid_3 .blue_Bar {
	height:25px;
	text-align:right;
	background:#99FFFF;
	margin:10px 0px;
}
.container_3 .grid_3 .banner {
	background-image:url('borde2.jpg');
	background-repeat:no-repeat;
	height:250px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width:250px;
}
h1 {
    letter-spacing: 3px;
    font-size: 1.4em;
    color: #369;
    font-weight: bold;
    font-family: sans-serif;
}

h2 {
    letter-spacing: 3px;
    font-size: 1.2em;
    color: #369;
    font-weight: normal;
    font-family: sans-serif;
}

h4 {
    letter-spacing: 3px;
    font-size: 1.5em;
    color: #369;
    font-weight: bold;
    font-family: sans-serif;
    text-align:center;
}

h5 {
    letter-spacing: 1px;
    font-weight: normal;
    font-family: sans-serif;
}

h6 {
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 0.875em;
    color:#B22222;
    font-family: sans-serif;
}